#root {
  width: 100%;
  font-family: Roboto, sans-serif;
}
.app {
  background-color: #F3F3F3;
}
.bg {
  background: url("./assets/cover.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1000px;
  padding-left: 96px;
  padding-right: 96px;
}
.post-img {
  width: 100%;
}
.post-details {
  padding: 16px
}
.post {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.author-name {
  font-weight: 500;
  line-height: 24px;
}
.author {
  padding-bottom: 8px;
}
p {
  margin: 0 !important;
}
.post-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold
}
.post-type-blog {
  background-color: #059669;
  color: white;
  padding: 0 8px 0 8px;
  border-radius: 5px;
}
.core-div {
  background-color: #0C1921;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  width: 220px;
  height: 220px;
  padding: 20px;
  overflow: visible;
  position: relative;
}
.core-img {
  width: 80px;
  height: 80px;
}
h1 {
  text-align: center;
  font-size: 36px !important;
  font-weight: 700 !important;
  margin-bottom: 45px !important;
}
.bg-img {
  width: 100%;
}
.bg {
  color: white;
  height: 828px;
  margin: 0 !important;
}
.bg-word-desc {
  font-size: 1.5rem;
  line-height: 2rem;

}
.bg-word-header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 12px;
}
.bg-word, .bg-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  font-weight: 700;
  font-size: 30px;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
  background-color: #24909d;
  margin-top: 16px;
}
.button-wrapper {
  padding-top: 36px;
  padding-bottom: 12px;
}
.core-name {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 8px;
}
.core-img {
  position: absolute;
  left: 72px;
  top: 14px;
}
.height-50 {
  height: 50%;
}
.mg-40 {
  margin: 40px;
}
.recent-post {
  padding-top: 16px;
  margin: 40px;
}
.logo-menu {
  width: 64px;
  height: 64px;
}
.navbar {
  background-color: #020F18 !important;
}
.nav-link {
  color: #ffffff !important;
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 36px !important;
  margin-left: 24px;
  margin-right: 24px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin-left: auto !important;
}
.footer-avatar {
  width: 160px;
  height: 160px;
}
footer {
  background-color: #020F18 !important;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-header {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.footer-cont {
  font-size: 16px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  font-weight: 300
}
.footer-content {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer-avatar-container {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 28px;
  margin-bottom: 28px;
}
.fa-solid, .fa-brands {
  margin-right: 14px;
}
.fas {
  margin-right: 5px;
}
.nav-link:hover {
  text-decoration: underline;
}